body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.form {
    margin-top: 20px;
}

.content {
    margin: 0 auto;
    width: 400px;
}

#content {
    width: 70%;
}

IMG.displayed {
    display:inline-flex;
    width: 110%;
}

.espaco{
    padding: 5px;
    margin: 30px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

.grafoContent{
    margin-right: 16px;
}