{% extends 'base.html' %} {% block head %}
<title>Dinic Algorithm</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">
  </h1>
  <a> </a>
  <div class="form">
    <h1> {{msg}}<h1>
  </div>
</div>
<div class="espaco" >
  <div class="grafoContent">
    <span > Grafo Original:</span>
    <div >
      <img src="../static/Graph.png" alt="Grafo" width="500px">
    </div>
  </div>
  <div class="grafoContent">
    <span> Grafo do fluxo máximo:</span>
    <div>
      <img src="../static/Graph2.png" alt="Grafo" width="500px">  
    </div>
  </div>
</div>

<button>
  <a href="/">Voltar</a>
</button>
{% endblock %}



 