{% extends 'base.html' %} {% block head %}
<title>Dinic Algorithm</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">
  </h1>
  <a> </a>
  <div class="form">
    <h1> O Fluxo máximo para as entradas é {{ flow}} <h1>
  </div>
</div>

<div>
  <h2> Grafo Original</h2>
 <IMG class="resuts"src="../static/Graph.png" alt="Grafo">
</div>
<div>
<h2> Grafo do fluxo máximo</h2>
<IMG class="resuts"src="../static/Graph2.png" alt="Grafo">
</div>
<button>
  <a href="/">Voltar</a>
</button>
{% endblock %}
